body {
    background-color: blue;
}

div {
    width: 90%;
    padding: 5px;
    margin: auto;
}

.links {
    width: 90%;
    padding: 5px;
    margin: auto;
    text-align: right;
    float: right;
}